:root {
    /* color */
    --white-color: #fffafa;
    --gray-color: #d3d3d3;
    --deep-gray-color: #c0c0c0;
    --navy-color: #191970;
    --yellow-color: #f0e68c;
    --deep-yellow-color: #ffd700;
    --black-color: #000000;
}

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a {
    color: var(--white-color);
}

/* 폰트 */
@font-face {
    font-family: 'THEBOLDFONT';
    src: url(/fonts/Mont-HeavyDEMO.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3; /* 한글만 */
}

body {
    font-family: 'THEBOLDFONT', 'twayair' ;
    color: white;
    background-color: var(--gray-color);
    overflow-x: hidden;
}

/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
    width: 20px;  /* 스크롤바 너비 */
}
body::-webkit-scrollbar-thumb {
    height: 25%; /* 스크롤바 길이 */
    background: var(--yellow-color); /* 스크롤바 색상 */
}
body::-webkit-scrollbar-track {
    background: var(--deep-gray-color);  /*스크롤바 배경색상*/
}

#start {
    width: 100vw;
    height: 100vh;
}
/* 컨테이너01 : 시작페이지 */
#container01 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}
/* 헤더 */
#container01 .header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 50px;
    border-bottom: 2px dotted var(--deep-gray-color);
}
/* 헤더 - 타이틀 */
#container01 .header .title {
    display: flex;
}
#container01 .header .title .logoImg {
    background: url(/images/mainLogo.png);
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}
#container01 .header .title .logoImg:active {
    background: url(/images/mainLogo2.png);
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
}
#container01 .header .title .logoText h1 {
    font-size: 38px;
    display: inline;
    background: linear-gradient(to right, rgba(255,255,255,0) 50% ,#ffd700 50%);
    background-size: 200%;
    transition: .2s;
    padding: 0 5px;
}
#container01 .header .title .logoText h1:hover {
    color: var(--navy-color);
    transition: 0.5s ease-out;
    background-position: -100% 0;
}
#container01 .header .title .logoText h1:not(:hover) {
    transition: 0.5s ease-out;
}

/* 헤더 - 메뉴버튼 */
#container01 .header .menuBtn ul {
    display: flex;
}
#container01 .header .menuBtn ul li {
    margin-left: 40px;
}
/* 메뉴버튼 형광펜 효과 */
#container01 .header .menuBtn ul li .desc {
    font-size: 25px;
    display: inline;
    background: linear-gradient(to right, rgba(255,255,255,0) 50% ,#ffd700 50%);
    background-size: 200%;
    transition: .3s;
    padding: 0 5px;
}
#container01 .header .menuBtn ul li .desc:hover {
    background-position: -100% 0;
    color: var(--navy-color);
    transition: 0.5s ease-out;
}
#container01 .header .menuBtn ul li .desc:not(hover) {
    transition: 0.5s ease-out;
}

/* 메인화면 */
#container01 .main {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
#container01 .main .mainView {
    width: 80%;
    height: 600px;
    position: relative;
}
/* 메인화면 - 일러스트 */
#container01 .main .mainImg img {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-40%, 0);
    z-index: 10;
}
#container01 .main .window {
    padding: 30px 20px;
    transition: 0.2s;
    position: absolute;
}
#container01 .main .window:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    cursor: url(/images/star.cur), auto;
}
#container01 .main .window1 {
    background: url(/images/window1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18%;
    height: 36%;
    bottom: 50%;
    left: 18%;
}
#container01 .main .window2 {
    background: url(/images/window2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 26%;
    height: 50%;
    bottom: 48%;
    left: 38%;
}
/* 타이핑 효과 */
#container01 .main .window2 .introText {
    color: black;
    font-size: 21px;
}
#container01 .main .window3 {
    background: url(/images/window3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13%;
    height: 50%;
    bottom: 40%;
    left: 66%;
    z-index: 1;
}
#container01 .main .window1 p, .window2 p, .window3 p {
    color: var(--black-color);
}
#container01 .main .window2 p {
    font-size: 21px;
}

/* 메인화면 - 텍스트 */
#container01 .main .text {
    position: fixed;
    background-color: var(--navy-color);
    padding-left: 5px;
    padding-right: 10px;
    /* border-radius: 5px; */
}
#container01 .main .text1 {
    font-size: 30px;
    top: 50%;
    left: 20%;
    animation: text-animation 1.5s infinite;
}
#container01 .main .text2 {
    font-size: 35px;
    top: 8%;
    left: 65%;
    animation: text-animation 2s infinite;
}
#container01 .main .text3 {
    font-size: 20px;
    top: 60%;
    left: 60%;
    animation: text-animation 1s infinite;
}
/* 메인화면 - 반짝이는 텍스트 */
@keyframes text-animation {
    0% {
        color: var(--white-color);
    }
    50% {
        color: var(--navy-color);
    }
    100% {
        color: var(--white-color);
    }
}
/* 메인화면 - up버튼 */
.upBtn {
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
}
.upBtn button {
    border-radius: 25px;
    width: 50px;
    height: 40px;
    background-color: var(--white-color);
    cursor: pointer;
    outline: none;
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
.upBtn button i {
    color: var(--black-color);
}
.upBtn button:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top: 2px;
}
.upBtn button:hover {
    background-color: var(--yellow-color);
}

/* 컨테이너 타이틀 공통*/
.operBox {
    text-align: center;
    opacity: 0;
    transition: 2s;
    /* height: 20%; */
    padding-top: 20px;
}
.operBox h2 {
    font-size: 50px;
    color: var(--navy-color);
}

/* 컨테이너02 : 프로젝트 화면 */
#container02 {
    width: 100%;
    position: relative;
    top: 100vh;
    background-color: var(--deep-yellow-color);
    padding-bottom: 100px;
    border-radius: 30px 30px 0 0;
}
#container02 .projectTitle {
    margin-bottom: 50px;
}
/* down 화살표 */
.ArrowBox {
    width: 100%;
    height: 100px;
    text-align: center;
}
.ArrowBox .arrow i {
    font-size: 25px;
    color: var(--navy-color);
    animation: array-ani 1.0s ease infinite;
}
@keyframes array-ani {
    0% {
        margin-top: 10px;
    }
    50% {
        margin-top: 30px;
    }
    100% {
        margin-top: 10px;
    }
}
#container02 .cardBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#container02 .cardBox .card {
    padding: 2rem;
    height: 70vh;
    list-style: none;
    opacity: 0;
    transition: .7s linear;
    transform: translateX(200px);
    display: flex;
}
#container02 .cardBox .card.visible {
    transform: translateX(0);
    opacity: 1;
}
#container02 .cardBox .card .cardImg {
    width: 50%;
    display: flex;
    align-items: center;
}
#container02 .cardBox .card .cardImg img {
    width: 100%;
}
#container02 .cardBox .card .cardInform {
    width: 50%;
    text-align: center;
    padding : 100px 0;
}
#container02 .cardBox .card .cardInform button {
    border-radius: 25px;
    border: 5px solid var(--navy-color);
    width: 70px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}
#container02 .cardBox .card .cardInform button:hover {
    background-color: var(--navy-color);
    transition: 0.3s;
    color: white;
}
#container02 .cardBox .card .cardInform button:not(:hover) {
    transition: 0.5s;
}


/* 컨테이너03 : 자기소개 */
#container03 {
    width: 100%;
    height: 150vh;
    position: relative;
    top: 100vh;
    background-color: var(--gray-color);
}
#container03 .introTitle {
    margin-bottom: 50px;
}
.main-slider {
    position:relative;
    width:50%;
    height:30%;
}
.main-slider .slick-list, .main-slider .slick-track {
    height:100%;
}

.main-slider .slick-slide {
    position:relative;
}

.item {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.item-1 {
    background-color:red;
}

.item-2 {
    background-color:blue;
}

.item-3 {
    background-color:green;
}

.item-4 {
    background-color:gold;
}

.item-5 {
    background-color:blue;
}

.inner-text {
    width: 300px;
    height: 200px;
    margin: 20px 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.inner-text p {
    font-size: 15px;
    color: #fff;
}













/* 컨테이너04 : 연락처 */
#container04 {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 100vh;
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
#container04 .contectTitle {
    height: 20%;
}
#container04 .contactArea {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
#container04 .contactBox {
    width: 50%;
    height: 90%;
    box-shadow: 5px 15px 15px 15px darkgrey;
}
/* 공통 사항 */
#container04 .contactBox .conBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#container04 .contactBox .snsBox {
    height: 20%;
}
#container04 .contactBox .snsBox a {
    font-size: 150%;
}
#container04 .contactBox .snsBox span {
    font-size: 150%;
}
#container04 .contactBox .phoneBox{
    height: 15%;
}
#container04 .contactBox .phoneBox .con1 span{
    font-size: 200%;
}
#container04 .contactBox .phoneBox .con2 p {
    font-size: 60%;
}
#container04 .contactBox .mailBox{
    
    height: 60%;
}
#container04 .contactBox .mailBox .con1 {

}
#container04 .contactBox .mailBox .con1 .gform {
    font-size: 0%;
}
#container04 .contactBox .mailBox .con1 h5 {
    font-size: 50%;
}
#container04 .contactBox .mailBox .con2 {

}
.form-control {
    width: 400px;
}
textarea {
    height: 200px;
}
#container04 .contactBox .mailBox .con2 span {
    font-size: 150px;
}