:root {
    /* color */
    --white-color: #fffafa;
    --gray-color: #d3d3d3;
    --deep-gray-color: #c0c0c0;
    --navy-color: #191970;
    --yellow-color: #f0e68c;
    --deep-yellow-color: #ffd700;
    --black-color: #000000;
}

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a {
    color: var(--white-color);
}

/* 폰트 */
@font-face {
    font-family: 'THEBOLDFONT';
    src: url(/fonts/Mont-HeavyDEMO.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3; /* 한글만 */
}

body {
    font-family: 'THEBOLDFONT', 'twayair' ;
    color: white;
}

/* 컨테이너01 : 시작페이지 */
#container01 {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
}

/* 헤더 */
#container01 .header {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 50px;
    border-bottom: 2px dotted var(--deep-gray-color);
}
/* 헤더 - 타이틀 */
#container01 .header .title {
    display: flex;
}
#container01 .header .title .logoImg {
    background: url(/images/mainLogo.png);
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}
#container01 .header .title .logoImg:active {
    background: url(/images/mainLogo2.png);
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
}
#container01 .header .title .logoText h1 {
    font-size: 38px;
    text-shadow: 3px 3px 3px var(--deep-gray-color);
}
#container01 .header .title .logoText h1:hover {
    color: var(--deep-yellow-color);
    transition: 0.5s ease-out;
}
#container01 .header .title .logoText h1:not(:hover) {
    transition: 0.5s ease-out;
}

/* 헤더 - 메뉴버튼 */
#container01 .header .menuBtn ul {
    display: flex;
}
#container01 .header .menuBtn ul li {
    margin-left: 40px;
}
#container01 .header .menuBtn ul li:hover {
    transform: rotate(10deg);
}
#container01 .header .menuBtn ul li span {
    font-size: 25px;
    text-shadow: 2px 2px 2px var(--deep-gray-color);
}
#container01 .header .menuBtn ul li span:hover {
    color: var(--deep-yellow-color);
    transition: 0.5s ease-out;
}
#container01 .header .menuBtn ul li span:not(:hover) {
    transition: 0.5s ease-out;
}

/* 메인화면 */
#container01 .main {
    width: 100%;
    height: 85vh;
    position: relative;
}
/* 메인화면 - 일러스트 */
#container01 .main .mainImg {
    position: absolute;
    bottom: 5%;
    left: 30%;
    z-index: 1000;
}
#container01 .main .mainImg img {
    width: 600px;
}
#container01 .main .window {
    padding: 30px 20px;
    position: absolute;
}
#container01 .main .window:hover {
    transform: scale3d(1.07, 1.07, 1.07);
}
#container01 .main .window1 {
    background: url(/images/window1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 300px;
    top: 12%;
    left: 23%;
    z-index: 2;
}
#container01 .main .window2 {
    background: url(/images/window2.png);
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 300px;
    top: 6%;
    left: 40%;
    z-index: 3;
}
#container01 .main .window3 {
    background: url(/images/window3.png);
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 250px;
    top: 20%;
    left: 65%;
    z-index: 1;
}
#container01 .main .window1 p, .window2 p, .window3 p {
    color: var(--black-color);
}
/* 메인화면 - 텍스트 */
#container01 .main .text {
    position: absolute;
    background-color: var(--navy-color);
    padding-left: 5px;
    padding-right: 10px;
    /* border-radius: 5px; */
}
#container01 .main .text1 {
    font-size: 30px;
    top: 50%;
    left: 20%;
    animation: text-animation 1.5s infinite;
}
#container01 .main .text2 {
    font-size: 35px;
    top: 8%;
    left: 65%;
    animation: text-animation 2s infinite;
}
#container01 .main .text3 {
    font-size: 20px;
    top: 60%;
    left: 60%;
    animation: text-animation 1s infinite;
}
/* 메인화면 - 반짝이는 텍스트 */
@keyframes text-animation {
    0% {
        color: var(--white-color);
    }
    50% {
        color: var(--deep-yellow-color);
    }
    100% {
        color: var(--white-color);
    }
}
/* 메인화면 - up버튼 */
#container01 .main .upBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#container01 .main .upBtn button {
    border-radius: 25px;
    width: 50px;
    height: 40px;
    background-color: var(--white-color);
    cursor: pointer;
    outline: none;
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
#container01 .main .upBtn button i {
    color: var(--black-color);
}
#container01 .main .upBtn button:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top: 2px;
}
#container01 .main .upBtn button:hover {
    background-color: var(--deep-yellow-color);
}

/* 메인화면 - 흐르는 텍스트 영역 */
.flow-container {
    background-color: var(--deep-yellow-color);
}
.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    font-size: 30px;
}
.flow-text:hover .flow-wrap {
    animation-play-state: paused;
    color: var(--navy-color);
    cursor: pointer;
}
.flow-wrap {
    animation: textLoop 10s linear infinite;
    margin-right: 20px;
    color: var(--deep-blue-color);
}
@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* 컨테이너02 : 프로젝트 화면 */
#container02 {
    background-color: var(--deep-gray-color);
    width: 100%;
    display: block;
    text-shadow: 3px 3px 3px darkgrey;
    padding-bottom: 20px;
}
/* 컨테이너02 : 프로젝트 화면 공통 레이아웃 */
#container02 .project {
    display: flex;
}
#container02 .projectTitle {
    width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
}
#container02 .projectTitle h2 {
    font-size: 35px;
    color: var(--navy-color);
}
#container02 .project .proScreen {
    width: 50%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* #container02 .project01 .project01Video video{
    width: 50%;
} */
#container02 .project .proNote {
    width: 50%;
    padding: 50px;
}
#container02 .project .proNote .moveBtn {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
#container02 .project .proNote .moveBtn:hover {
    background-color: var(--deep-yellow-color);
    transition: 0.3s ease-out;
    color: white;
}
#container02 .project .proNote .moveBtn:not(:hover) {
    transition: 0.3s ease-out;
}

/* 프로젝트01 */
#container02 .project01 .pro01Screen {
    background-image: url(/images/project01.png);
}

/* 프로젝트02 */
#container02 .project02 .pro02Screen {
    background-image: url(/images/project02.png);
}
#container02 .project02 .pro02Note {
    text-align: end;
}

/* 프로젝트03 */
#container02 .project03 .pro03Screen {
    background-image: url(/images/project03.png);
}

/* 컨테이너03 : 자기소개 */
#container03 {
    background-color: var(--gray-color);
    width: 100%;
    height: 100vh;
    text-shadow: 3px 3px 3px var(--deep-gray-color);
}
#container03 .introTitle {
    width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
}
#container03 .introTitle h2 {
    font-size: 35px;
    color: var(--navy-color);
}

/* 컨테이너04 : 연락처 */
#container04 {
    background-color: var(--deep-gray-color);
    width: 100%;
    height: 100vh;
    text-shadow: 3px 3px 3px darkgrey;
}
#container04 .contectTitle {
    width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
}
#container04 .contectTitle h2 {
    font-size: 35px;
    color: var(--navy-color);
}
