:root {
    /* 컬러 */
    /* --deep-blue-color: #03318c; */
    
    /* --middle-blue-color: #16498c;
    --light-blue-color: #11538c; */
    --deep-blue-color: #bfbfbf;
    --middle-blue-color: #bfbfbf
    --light-blue-color: #bfbfbf

    --deep-yellow-color: #bfb856;
    --middle-yellow-color: #f2e527;
    --light-yellow-color: #fffccd;
}

* {
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* 폰트 */
@font-face {
    font-family: 'THEBOLDFONT';
    src: url(/fonts/Mont-HeavyDEMO.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'THEBOLDFONT';
}

/* 컨테이너 01 */
#container01 {
    background-color: var(--deep-blue-color);
    width: 100%;
    height: 100vh;
}

/* 헤더 */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 50px;
}
.header .logo h1 {
    font-size: 35px;
    position: fixed;
    top: 30px;
    left: 50px;
}
.header .logo h1:hover {
    color: var(--middle-yellow-color);
    transition: 0.5s ease-out;
}
.header .logo h1:not(:hover) {
    transition: 0.5s ease-out;
}
.header .icon ul {
    display: flex;
}
.header .icon ul li {
    margin-left: 50px;
}
.header .icon ul li:hover {
    transform: rotate(10deg);
}
.header .icon ul li span {
    font-size: 20px;
}
.header .icon ul li span:hover {
    color: var(--middle-yellow-color);
    transition: 0.5s ease-out;
}
.header .icon ul li span:not(:hover) {
    transition: 0.5s ease-out;
}

/* 메인화면 */
.main {
    width: 100%;
}
.mainImg {
    text-align: center;
    margin-top: 50px;
}
.main .mainImg img {
    width: 600px;
}
.main .window1 img{
    width: 200px;
    position: absolute;
    top: 100px;
    left: 200px;
}


/* 흐르는 텍스트 영역 */
.flow-container {
    background-color: var(--middle-yellow-color);
}
.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    font-size: 30px;
    
}
.flow-text:hover .flow-wrap {
    animation-play-state: paused;
    color: white;
}
.flow-wrap {
    animation: textLoop 10s linear infinite;
    margin-right: 20px;
    color: var(--deep-blue-color);
}
@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* 컨테이너 02 */
#container02 {
    background-color: var(--middle-blue-color);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.project01Video {
    width: 50%;
}
/* .project01Video video{
    width: 50%;
} */
.project01Video img{
    width: 100%;
}
.project01Note {
    width: 50%;
    padding: 50px;
}
.project01Note .moveBtn {
    color: var(--deep-blue-color);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
.project01Note .moveBtn:hover {
    background-color: var(--middle-yellow-color);
    transition: 0.3s ease-out;
    color: white;
}
.project01Note .moveBtn:not(:hover) {
    transition: 0.3s ease-out;
}



/* 컨테이너 03 */
#container03 {
    background-color: var(--deep-blue-color);
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* 컨테이너 04 */
#container04 {
    background-color: var(--middle-blue-color);
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}


